[submodule "WFA2"]
	path = WFA2
	url = https://github.com/smarco/WFA2-lib.git
[submodule "external/nthash"]
	path = external/nthash
	url = https://github.com/bcgsc/ntHash.git
[submodule "external/pthash"]
	path = external/pthash
	url = https://github.com/jermp/PTHash.git
